* {
    margin: 0;
    padding: 0;
}
a{
    color:#333; 
    text-decoration:none; 
    cursor:pointer;
    font-family: Georgia, serif;
    font-size: 16px;
    font-style: oblique;
}
a:hover{
    color:#008000;
}
div {
    display: block;
}


/*top*/
.wap{
    width:1000px; 
    margin:0 auto; 
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.top{ 
    width:100%; 
    height:40px; 
    line-height:40px; 
    background:#f4f5f6; 
    color:#666; 
    border-bottom:#ddd 1px solid;
}
.top li{ 
    float:left; 
    margin-right:20px;
    list-style-type: none;
}
.top li a{ 
    color:#666; 
    display:inline-block;
}
.top li a:hover{ 
    color:#008000;
}

/*Sign In*/
.nav-index {
    padding: 0 auto;
    height: 60px;
    width: 100%;
    background-color: gray;
    padding: 5px;
    display: inline-block;
}
.web-index {
    font-size: 22px;
}
.title {
    float: left;
    margin-top: 13px;
    margin-left: 100px;
}
.login {
    float: right;
    margin-right: 15px;
}
.login ul li a {
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
.login ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-block;
}
.login li {
    float: right;
    
}
.login a {
    color: white;
}
.login a:link {
    text-decoration: none;
    text-align: center;
    font-weight: 100;
    color: white;
}
.login a:hover {
    color: darkturquoise;
}
.login-box, .register-box {
    height: 460px;
    width: 600px;
    margin-left: 620px;
    margin-top: 100px;
    color: black;
    padding-left: 20px;
    background-color: aliceblue;
}
.input-index, .input-register {
    margin: 0;
    padding: 0;
}
.input-index h2, .input-register h2 {
    font-size: 35px;
    text-align: center;
    padding-top: 30px;
}
.UsernameInput, .PasswordInput {
    font-size: 23px;
    padding-left: 45px;
    margin-top: 30px;
    line-height: 2;
    display: inline-block;
    width: 100px;
}
.input-register lable {
    font-size: 20px;
    padding-left: 45px;
    margin-top: 30px;
    line-height: 2;
    display: inline-block;
    width: 130px;
    font-family:  Montserrat,Verdana,Helvetica,Arial,sans-serif;
}
.text1, .text2, .text3, .text4, .text5 {
    height: 40px;
    width: 270px;
    margin-left: 30px;
    border: 1px solid;
    border-radius: 5px;
    text-align: left;
    padding-left: 5px;
    font-size: 15px;
}
.remember-me {
    margin-top: 50px;
    font-size: 20px;
    margin: 13px;
    display: inline-block;
    text-decoration: underline;
}
.checkbox {
    height: 20px;
    width: 100px;
    background-color: dodgerblue;
    color: white;
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
}
.loginButton, .registerButton {
    padding-top: 5px;
    margin-left: 200px;
    color: black;
    display: inline-block;
    font-size: 15px;
    text-align: center;
}
.btn1 {
    background-color: darkcyan;
    color: white;
    width: 70px;
    height: 40px;
    margin-top: 55px;
}
.btn2 {
    width: 70px;
    height: 40px;
    color: black;
    margin-left: 7px;
}
.btn3 {
    width: 100px;
    height: 40px;
    color: white;
    background-color: darkcyan;
    margin-top: 30px;
}
.btn4 {
    width: 100px;
    height: 40px;
    color: black;
    margin-left: 7px;
}
.header {
    width: 100%;
    height: 140px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.search { 
    height: 70px; 
    width: 722px; 
    position: relative; 
    padding-top: 36px; 
    margin-left: 65%; 
}
.header .search .search-input { 
    width: 270px; 
    height: 35px; 
    outline: none; 
    border: 1px solid #ccc; 
    position: relative; 
    padding-left: 15px;
}
.header .search .search-btn { 
    width: 40px; 
    height: 40px; 
    background: url(images/iconfinder_icon-ios7-search_211818.png) no-repeat right center;
    position: absolute; 
    top: 35px; 
    left: 230px; 
    border: none; 
    outline: none; 
    cursor: pointer;
}
.header .logo {
    height: 0px;
}
.header .logo i {
    background: url(images/hotel-logo.png) no-repeat left center;
    width: 180px;
    height: 138px;
    display: block;
    margin-left: 250px;
    background-size: 95%;
}
.nav {
    padding: 10px 0; 
    width:100%; 
    height: 50px; 
    text-align: center; 
    line-height: 20px;
}
.nav ul li { 
    display: inline-block; 
    font-size: 18px; 
    width: 166px; 
    text-align: center; 
}
.nav ul { 
    list-style-type: none; 
    overflow: hidden; 
    height: 53px; 
    font-size: 0;
}
.nav a { 
    float: left; 
    padding: 16px 30px; 
    width: 106px; 
    display: block;
    color: #fff;
    font-style: normal;
}
.nav a:link, .nav a:visited { 
    display: inline-block; 
    text-align: center; 
}
.nav a:hover, .nav a:active { 
    color: #fff; 
    background-color: #008000; 
}
.wap-list {
    width: 100%;
    background-color: #333;
}